body{
    text-align: center;
    font-size: 1.5rem;
    background: linear-gradient(to right, rgba(143, 224, 13, 0.707),rgba(80, 224, 13, 0.707), rgba(13, 224, 83, 0.707), rgba(13, 224, 154, 0.707) );

    color: white;
}

button, input{
    color: white;
    font-size: 1.25rem;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    margin-top: 4px;
}

#resposta{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
